PROVIDER_TYPE=mock
VOLCENGINE_API_KEY=
VOLCENGINE_ENDPOINT=
VOLCENGINE_APP_ID=
VOLCENGINE_ACCESS_TOKEN=
VOLCENGINE_IMAGE_MODEL=
VOLCENGINE_IMAGE_PROVIDER_MODE=auto
VOLCENGINE_IMAGE_TIMEOUT_MS=60000
VOLCENGINE_IMAGE_CHAT_FALLBACK=true
VOLCENGINE_REGION=cn-beijing
